RewriteEngine on
RewriteRule ^$ index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^login$ /Projects2019/Project/login.php [L]
RewriteRule ^dashboard$ /Projects2019/Project/dashboard.php [L]
RewriteRule ^([a-zA-Z0-9]+)$ /Projects2019/Project/index.php?module=$1 [QSA,L]